*.pyc
**/00-raw_pdbs/
**/01-benchmark_surfaces/
**/01-benchmark_pdbs/
**/02-matfile/
**/02-matfile/
**/03-coords/
**/04*precomputation*/
**/data_preparation
masif_site/exelogs
*.out
*.err
*.mat
*.npy
*.npz
checkpoint
data/**/cache/
**/obsolete/*
.ipynb_checkpoints
data/masif_ppi_search/descriptors/
data/masif_ppi_search_ub/descriptors/
data/masif_site/output/
tensorflow-1.9/
tensorflow_on_gpu/
